@import '../fontGuide';


.projects {
    height: inherit;
    margin: 41px auto;

    h1 {
        text-align: center;
        color: $black;
        font-size: 18px;
        font-family: $font-stack;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    
    hr {
        background-color: $secondary-color;
        height: 4px;
        width: 94px;
        margin: auto;
    }

    .projectsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin: 70px 8px 70px 40px;
        text-align: left;


        @media only screen and (min-width: 768px) {
            margin: 80px 34px 80px 92px;

        }

        .projectItems {
            max-width: 134px;
            cursor: pointer;
            padding: 0 31px 24px 0;

            @media only screen and (min-width: 1024px) {
                max-width: 380px;
                padding: 0 58px 120px 0;

            }
            
            a {
                text-decoration: none;

                img {
                    border: 4px solid $primary-color;
                    display: block;

                    &:hover {
                        border: 4px solid $secondary-color;
                        transition: .2s ease-out;
                    }

                }
            }

            h2 {
                font-family: $font-stack;
                font-size: 16px;
                font-weight: 400;
                color: $black;

                @media only screen and (min-width: 1024px) {
                    font-size: 40px;
                }
            }

            p {
                font-family: $font-stack;
                font-size: 11px;
                font-weight: bold;
                color: $secondary-color;

                @media only screen and (min-width: 1024px) {
                    font-size: 18px;
                }
            }
        }
    }
}