@import '../fontGuide';


.projects {
    height: inherit;
    padding: 41px 0;
    // margin: 41px auto;

    h1 {
        text-align: center;
        color: $black;
        font-size: 18px;
        font-family: $font-stack;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    
    hr {
        background-color: $secondary-color;
        height: 4px;
        width: 28px;
        margin: auto;
        
        @media only screen and (min-width: 768px) {
             width: 94px;
        }

    }

    .projectsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        text-align: left;

        .projectItems {
            width: 134px;
            cursor: pointer;
            margin: 10px;

            @media only screen and (min-width: 1024px) {
                width: 380px;
                margin: 20px;
            }
            
            a {
                text-decoration: none;

                img {
                    border: 4px solid transparent;
                    display: block;

                    &:hover {
                        border: 4px solid $secondary-color;
                        transition: .2s ease-out;
                    }

                }
            }

            h2 {
                font-family: $font-stack;
                font-size: 16px;
                font-weight: 400;
                color: $black;

                @media only screen and (min-width: 1024px) {
                    font-size: 40px;
                    line-height: 48px;
                }
            }

            p {
                font-family: $font-stack;
                font-size: 11px;
                font-weight: bold;
                color: $secondary-color;
                margin: 12px 0;


                @media only screen and (min-width: 1024px) {
                    font-size: 18px;
                    margin:23px 0;

                }
            }
        }
    }
}