@import '../fontGuide';


.projects {
    height: inherit;
    padding: 20px 50px;

    h1 {
        text-align: center;
        color: $black;
        font-size: 18px;
        font-family: $font-stack;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    
    hr {
        background-color: $secondary-color;
        height: 4px;
        width: 94px;
        margin: auto;
    }

    .projectsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        margin: 70px auto;
        text-align: left;


        @media only screen and (min-width: 768px) {
            margin: 100px auto;
        }

        .projectItems {
            max-width: 134px;
            margin: 0px auto 24px auto;
            padding: 10px;
            cursor: pointer;



            img {
                border: 2px solid $primary-color;
                width: 132px;
                height: 132px;
                display: block;

                @media only screen and (min-width: 768px) {
                    width: 380px;
                    height: 380px;
                }

                &:hover {
                    border: 4px solid $secondary-color;
                    transition: .2s ease-out;
                }


            }

            @media only screen and (min-width: 768px) {
                max-width: 380px;
                margin: 0px auto 58px auto;
            }

            h2 {
                font-family: $font-stack;
                font-size: 16px;
                font-weight: 400;
                color: $black;

                @media only screen and (min-width: 1024px) {
                    font-size: 40px;
                }
            }

            p {
                font-family: $font-stack;
                font-size: 11px;
                font-weight: bold;
                color: $secondary-color;

                @media only screen and (min-width: 1024px) {
                    font-size: 18px;
                }
            }
        }
    }
}