@import '../fontGuide';

.technologies {
    height: inherit;

    h1 {
        text-align: center;
        color: $black;
        font-size: 18px;
        font-family: $font-stack;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    hr {
        background-color: $secondary-color;
        height: 4px;
        width: 28px;
        margin: auto;

        @media only screen and (min-width: 768px) {
            width: 94px;
        }
    }

    .techList {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin: 28px 48px 0 48px;

        @media only screen and (min-width: 1024px) {
            margin: 56px 110px 0 110px;

        }
        div {
           width: 70px;
           margin:auto;
        }
    }

}
