@import '../fontGuide';

.technologies {
    height: inherit;
    padding: 20px 50px;

    h1 {
        text-align: center;
        color: $black;
        font-size: 18px;
        font-family: $font-stack;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    hr {
        background-color: $secondary-color;
        height: 4px;
        width: 94px;
        margin: auto;
    }

    .techList {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        flex-wrap: wrap;
        margin: 50px auto 0 auto;

        div {
            margin: 0 20px;
        }

        #htmlCss {
            width: 113px;
            height: 87px;
        }

        #api {
            width: 92px;
            height: 82px;
        }

        #sass {
            width: 59px;
            height: 44px;

            @media only screen and (min-width: 768px) {
                width: 80px;
                height: 60px;
            }

        }

        #express {
            width: 124px;
            height: 28px;

            @media only screen and (min-width: 768px) {
                width: 169px;
                height: 38px;
            }
        }

        #reactjs {
            width: 80px;
            height: 56px;

            @media only screen and (min-width: 768px) {
                width: 103px;
                height: 73px;
            }
        }

        #ruby {
            width: 47px;
            height: 47px;

            @media only screen and (min-width: 768px) {
                width: 60px;
                height: 60px;
            }
        }

        #node {
            width: 76px;
            height: 47px;

            @media only screen and (min-width: 768px) {
                width: 98px;
                height: 60px;
            }
        }
    }

}
