@import '../fontGuide';

.technologies {
    height: inherit;
    padding-top: 28px 0;

    @media only screen and (min-width: 1024px) {
        padding: 41px 0;
    }

    h1 {
        text-align: center;
        color: $black;
        font-size: 18px;
        font-family: $font-stack;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    hr {
        background-color: $secondary-color;
        height: 4px;
        width: 28px;
        margin: auto;

        @media only screen and (min-width: 768px) {
            width: 94px;
        }
    }

    .techList {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin: 36px 48px;

        @media only screen and (min-width: 1024px) {
            margin: 56px 110px;
            flex-wrap: nowrap;
        }

        .techItem {
            width: 80px;
            margin: 10px;
            
            @media only screen and (min-width: 1024px) {
                margin:20px;
                width: 100px;
            }
        }
    }
}
