@import '../fontGuide';

nav {
     
     ul {
          display: flex;
          flex-direction: column;
          list-style: none;
          white-space: nowrap;
          overflow: hidden;
          font-family: $font-stack;
          padding: 24px 27px 13px 27px;
          margin:0;
         
          @media only screen and (min-width: 768px) {
               flex-direction: row;
               justify-content: space-between;
               padding: 24px 20px 14px 20px;
          }

          @media only screen and (min-width: 1024px) {
               padding: 24px 100px 14px 100px;
          }

          li {
               
               a {
                    text-decoration: none;
                    cursor: pointer;
               }
          }

          #logo {
               color: $primary-color;
               font-size: 24px;
               font-weight: 500;

               @media only screen and (min-width: 768px) {
                    font-size: 40px;

               }
          }

          .linksContainer {
               display: flex;

               .links {
                    color: $black;
                    text-transform: uppercase;
                    margin: auto 40px auto 0;
                    font-size: 14px;
                    font-weight: 500;

                    @media only screen and (min-width: 1024px) {
                         font-size: 16px;
                    }
               }

               #resume {
                    background-color: $primary-color;
                    border-radius: 18px;
                    color: $white;
                    padding: 8px 24px;
               }
          }
     }
}


 