@import '../fontGuide';

%mobile-menu-commons {
     text-decoration: none;
     color: $black;
     font-size:30px;
     position: relative;
     z-index: 5;
     background-color: transparent;
     border: none;
     cursor: pointer;
}

header {
     nav {  
          display: flex;
          flex-direction: column;
          list-style: none;
          white-space: nowrap;
          overflow: hidden;
          font-family: $font-stack;
          padding: 24px 27px;
          margin:0;
          
          @media only screen and (min-width: 768px) {
               flex-direction: row;
               justify-content: space-between;
               padding: 24px 20px;
          }

          @media only screen and (min-width: 1024px) {
                padding: 24px 100px;
          }

             
          a {
               text-decoration: none;
               cursor: pointer;
          }
          
          .mobileNav {
               display: flex;
               justify-content: space-between;
               align-items: center;

               #logo {
                    color: $primary-color;
                    font-size: 24px;
                    font-weight: 500;

                    @media only screen and (min-width: 768px) {
                         font-size: 40px;

                    }
               }

               #menuIcon {
                    @extend %mobile-menu-commons;

                    @media only screen and (min-width: 768px) {
                         display:none;
                    }
               }

               #menuExitIcon {
                    @extend %mobile-menu-commons;
                    display:none;

                    @media only screen and (min-width: 768px) {
                         display: none;
                    }
               }
          }

          .linksContainer {
               display: none;

               @media only screen and (min-width: 768px) {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
               }

               .links {
                    color: $black;
                    text-transform: uppercase;
                    margin: auto 0;
                    font-size: 32px;
                    font-weight: 500;
                    
                    @media only screen and (min-width:768px) {
                         font-size: 16px;
                         margin: auto 20px;
                    } 
               }
               #home, #about {
                    &:hover {
                         border-bottom: 4px solid $primary-color;
                    }
               }
               
               #resume {
                    @media only screen and (min-width:768px) {
                         background-color: $primary-color;
                         border-radius: 18px;
                         color: $white;
                         padding: 8px 24px;
                         
                         #externalIcon {
                              display: none;
                         }

                         &:hover {
                              background-color: $secondary-color;
                         }
                    }
               }   
          }

          .active {
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               width: 100%;
               height: 100%;
               position: absolute;
               line-height:80px;
               right: 0;
               top: 0;
               background-color:$white;
               opacity:.98;
               z-index:3;
          }
     }
}


 