@import url('https://fonts.googleapis.com/css?family=Roboto');
nav {
     ul {
          display: flex;
          justify-content: space-between;
          list-style: none;
          white-space: nowrap;
          overflow: auto;
          font-family: "Roboto";
          padding: 40px 20px;
         
          @media only screen and (min-width: 1024px) { 
               padding: 30px 100px;
          }

          li {
               
               a {
                    text-decoration: none;
                    cursor: pointer;
               }
          }

          #logo {
               color: #5E2C8B;
               font-size: 40px;
               font-weight: 500;
          }

          .linksContainer {
               display: flex;

               .links {
                    color: black;
                    text-transform: uppercase;
                    margin: 20px;
                    font-size: 16px;
                    font-weight: 500;
               }

               #resume {
                    background-color: #5E2C8B;
                    border-radius: 18px;
                    color: white;
                    padding: 8px 24px;
               }
          }
     }
}


 