@import 'fontGuide';


.messageContainer {
    background-color: $secondary-color;
    width: 90%;
    height: inherit;
    border-radius:20px;
    text-align: center;
    margin: 100px auto ;
    padding:40px;
    
    @media only screen and (min-width: 1024px) {
        padding:100px;
    }
    
    h1 {
        font-family: $font-stack-secondary;
        font-weight: 600;
        font-size: 40px;
        @media only screen and (min-width: 1024px) {
            font-size: 100px;
        }
    }

    p {
        font-family: $font-stack-primary;
        font-size:25px;
    }
}