@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Eczar:400,500');

// font stack 
$font-stack-primary: 'Eczar';
$font-stack-secondary: 'Roboto';

// color pallete 
$primary-color:#5E2C8B;
$secondary-color:#73D0F9;
$black: #000000;
$white: #ffffff;
