@import 'fontGuide';

.imgPlaceholder {
    img {
        display:block;
        width: 100%;
        height: auto;
        margin:0;
    }  
}

.intro {
    margin: 0;
    background-color: $secondary-color;
    height: inherit;
    padding: 40px 50px;
    
    @media only screen and (min-width: 1024px) {
        padding: 40px 100px;
    }
    
    h1 {
        text-align: center;
        color: $white;
        font-size: 18px;
        font-family: $font-stack;
        text-transform: uppercase;
        margin-bottom:10px;
    }
    hr {
        background-color: $primary-color;
        height:4px;
        width: 94px;
        margin: auto;
    }
    p {
        font-family: $font-stack;
        font-size: 18px;
        text-align: left;
        line-height: 28px;
        margin: 24px auto;

        @media only screen and (min-width: 1024px) {
            font-size: 40px;
            line-height:48px;
            margin: 44px auto;
        }
    }
}

.brands {
    height: inherit;
    padding: 40px 50px;

    h1 {
        text-align: center;
        color: $black;
        font-size: 18px;
        font-family: $font-stack;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    hr {
        background-color:$secondary-color;
        height: 4px;
        width: 94px;
        margin: 10px auto;
    }
     .brandLogos {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top:40px;

        div:first-of-type {
            margin:0px 30px 0px 0px;
             
            @media only screen and (min-width: 768px) {
                margin:0px 60px 0px 0px;
             }
        }
        
        #samsung {
            width: 131px;
            height: 20px;

            @media only screen and (min-width: 768px) {
                width: 233px;
                height: 35px;
            }
        }

        #verizon {
            width: 130px;
            height: 31px;

            @media only screen and (min-width: 768px) {
                width: 231px;
                height: 55px;
            }
        }
    }
 }

.technologies {
    height: inherit;
    padding: 20px 50px;

    h1 {
        text-align: center;
        color: $black;
        font-size: 18px;
        font-family: $font-stack;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    hr {
        background-color: $secondary-color;
        height: 4px;
        width: 94px;
        margin: auto;
    }

    .techList {
        display: flex;
        justify-content:space-evenly;
        align-items: flex-end;
        flex-wrap: wrap;
        margin: 50px auto 0 auto;

        div {
            margin: 0 20px;
        }

        #htmlCss {
            width:113px;
            height:87px;
        }

        #api {
            width: 92px;
            height: 82px;
        }

        #sass {
            width: 59px;
            height: 44px;
            
            @media only screen and (min-width: 768px) {
                width: 80px;
                height: 60px;
            }

        }

        #express {
            width:124px;
            height:28px;
            
            @media only screen and (min-width: 768px) {
                width:169px;
                height:38px; 
            }
        }

        #reactjs {
            width: 80px;
            height: 56px;

            @media only screen and (min-width: 768px) {
                width: 103px;
                height:73px;
            }
        }

        #ruby {
            width:47px;
            height:47px;

            @media only screen and (min-width: 768px) {
                width: 60px;
                height: 60px;
            }
        }

        #node {
            width:76px;
            height:47px;

            @media only screen and (min-width: 768px) {
                width: 98px;
                height: 60px;
            }
        }
    }

}

.projects {
    height: inherit;
    padding: 20px 50px;

    h1 {
        text-align: center;
        color: $black;
        font-size: 18px;
        font-family: $font-stack;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    hr {
        background-color: $secondary-color;
        height: 4px;
        width: 94px;
        margin: auto;
    }

    .projectsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        margin: 70px auto;
        
        @media only screen and (min-width: 768px) {
            margin: 100px auto;
        }

        .projectItems {
            width:132px;
            margin: 0px auto 24px auto;
            padding:10px;
            cursor: pointer;
            
           img {
                border: 2px solid $primary-color;
                width: 132px;
                height:134px;

                @media only screen and (min-width: 768px) {
                    width: 380px;
                    height:380px;
                }
               &:hover {
                    border: 4px solid $secondary-color;
                    transition: .2s ease-out;
               }


           } 
            @media only screen and (min-width: 768px) {
                width: 380px;
                margin: 0px auto 58px auto;
            }

            h2 {
                font-family: $font-stack;
                font-size:16px;
                font-weight:400;
                color: $black;

                @media only screen and (min-width: 1024px) {
                    font-size:40px;
                }
            }

            p {
                font-family: $font-stack;
                font-size:11px;
                font-weight: bold;
                color: $secondary-color;

                @media only screen and (min-width: 1024px) {
                    font-size:18px;
                } 
            }
        }
    }


}

footer {
    background-color: $primary-color;
    height: inherit;
    padding: 50px auto;

    .footerDetails {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding:40px;


        @media only screen and (min-width: 1024px) {
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
        }

        h1 {
            color: $white;
            font-size: 30px;
            font-weight: 400;
            font-family: $font-stack;
            text-align: left;

            @media only screen and (min-width: 1024px) {
                font-size: 40px;
            }
        }
        p {
            font-family: $font-stack;
            font-size: 18px;
            color: $white;
            text-align: left;
        }

        .social {
            margin-bottom:36px;

            @media only screen and (min-width: 1024px) {
                margin-bottom: 0;
            }

            .icons {
                display: flex;
                text-align: left;

                div {
                    background-color: $white;
                    border-radius:50px;
                    width:40px;
                    height:40px;
                    padding:10px;
                    margin: auto 15px auto 0;
                    text-align:center;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.9);
                    }

                    a {
                        text-decoration: none;
                        color: $black;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
        .contact {
            margin-bottom: 36px;

            @media only screen and (min-width: 1024px) {
                margin-bottom: 0;
            }
        }
    }

}