@import 'fontGuide';

.imgPlaceholder {
    img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
    }
}

.intro {
    margin: 0;
    background-color: $secondary-color;
    height: inherit;
    padding: 25px 35px;

    @media only screen and (min-width: 1024px) {
        padding: 60px 110px;
    }

    h1 {
        text-align: center;
        color: $white;
        font-size: 18px;
        font-family: $font-stack;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    hr {
        background-color: $primary-color;
        height: 4px;
        width: 28px;
        margin: auto;
        
        @media only screen and (min-width: 768px) {
             width: 94px;
        }
    }

    p {
        font-family: $font-stack;
        font-size: 18px;
        text-align: left;
        line-height: 28px;
        margin: 24px auto;

        @media only screen and (min-width: 1024px) {
            font-size: 40px;
            line-height: 48px;
            margin: 44px auto;
        }
    }
}

.brands {
    height: inherit;
    padding: 28px 0;

    @media only screen and (min-width: 1024px) {
        padding: 41px 0;
    }
    h1 {
        text-align: center;
        color: $black;
        font-size: 18px;
        font-family: $font-stack;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    hr {
        background-color: $secondary-color;
        height: 4px;
        width: 28px;
        margin: 10px auto;
        
        @media only screen and (min-width: 768px) {
            width: 94px;
        }
    }

    .brandLogosContainer {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 40px;
        
       .brandLogoItem {
            width: 200px;
            margin:10px;
            
            @media only screen and (min-width: 768px) {
                margin:20px;
            }
        }
    }
}
