@import url('https://fonts.googleapis.com/css?family=Roboto');

.imgPlaceholder {
    background-color: yellow;
    height: 600px;
}

.intro {
    background-color:#73D0F9;
    height: inherit;
    padding: 40px 50px;
    
    @media only screen and (min-width: 1024px) {
        padding: 40px 100px;

    }
    
    h1 {
        text-align: center;
        color: #ffffff;
        font-size: 18px;
        font-family: "Roboto";
        text-transform: uppercase;
        margin-bottom:10px;
    }
    hr {
        background-color: #5E2C8B;
        height:4px;
        width: 94px;
        margin: auto;
    }
    p {
        font-family: "Roboto";
        font-size: 18px;
        text-align: left;
        line-height: 28px;
        margin: 24px auto;

           @media only screen and (min-width: 1024px) {
                font-size: 40px;
                line-height:48px;
                margin: 44px auto;
           }
    }
}

.brands {
    height: inherit;
    padding: 40px 50px;

    h1 {
        text-align: center;
        color: #000000;
        font-size: 18px;
        font-family: "Roboto";
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    hr {
        background-color: #73D0F9;
        height: 4px;
        width: 94px;
        margin: auto;
    }
     .brandLogos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        @media only screen and (min-width: 768px) {
            flex-direction: row; 
        }
    }
 }

.technologies {
    height: inherit;
    padding: 20px 50px;

    h1 {
        text-align: center;
        color: #000000;
        font-size: 18px;
        font-family: "Roboto";
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    hr {
        background-color: #73D0F9;
        height: 4px;
        width: 94px;
        margin: auto;
    }

}

.projects {
    height: inherit;
    padding: 20px 50px;

    h1 {
        text-align: center;
        color: #000000;
        font-size: 18px;
        font-family: "Roboto";
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    hr {
        background-color: #73D0F9;
        height: 4px;
        width: 94px;
        margin: auto;
    }

}

footer {
    background-color: #5E2C8B;
    height: inherit;
    padding: 50px auto;

    .footerDetails {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding:40px;


        @media only screen and (min-width: 1024px) {
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
        }

        h1 {
            color: #ffffff;
            font-size: 30px;
            font-weight: 400;
            font-family: "Roboto";
            text-align: left;

            @media only screen and (min-width: 1024px) {
                font-size: 40px;
            }
        }
        p {
            font-family: "Roboto";
            font-size: 18px;
            color: #ffffff;
            text-align: left;
        }

        .social {
            margin-bottom:36px;

            @media only screen and (min-width: 1024px) {
                margin-bottom: 0;
            }

            .icons {
                display: flex;
                text-align: left;

                div {
                    margin: auto 10px auto 0;
                    background-color: white;
                    border-radius:50px;
                    width:40px;
                    height:40px;
                    padding:10px;
                }
            }
        }
        .contact {
            margin-bottom: 36px;
            @media only screen and (min-width: 1024px) {
                margin-bottom: 0;
            }
        }
    }

}