@import 'fontGuide';

%commons-text-mobile {
    font-family: $font-stack;
    color: $black;
    font-size: 18px;
    line-height:32px;
    text-align:left;
}

.about {
    padding: 40px;

    @media only screen and (min-width: 1024px) {
        padding: 100px 120px;
    }

    p {
        @extend %commons-text-mobile;

        @media only screen and (min-width: 1024px) {
            font-size: 40px;
            line-height:48px;
        }
        
    }
}

.linksContainer {
    display: flex;
    padding: 0 40px;

    @media only screen and (min-width: 1024px) {
        padding: 0 120px;
    }

     .links {
        margin: 10px;

         a {
             @extend %commons-text-mobile;
             text-decoration: none;
             cursor: pointer;

             @media only screen and (min-width: 1024px) {
                 font-size: 40px;

                 &:hover {
                    color: $secondary-color;

                 }
             }
         }
     }
 }
.projectImg {
    padding: 0 40px;
    
    @media only screen and (min-width: 1024px) {
        padding: 0 100px;

    }

}