@import '../fontGuide';

%common-text {
    color: $white;
    font-family: $font-stack;
    text-align: left;
}

footer {
    background-color: $primary-color;
    height: inherit;
    padding: 30px 0;

    @media only screen and (min-width: 1024px) {
        padding: 48px 0;
    }

    .footerDetails {
        display: flex;
        flex-direction: column;
        padding: 0 40px;

        @media only screen and (min-width: 1024px) {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;
            padding:0;
        }

        h1 {
            font-size: 30px;
            font-weight: 400;
            @extend %common-text;

            @media only screen and (min-width: 1024px) {
                font-size: 40px;
            }
        }

        a {
            font-size: 18px;
            text-decoration: none;
            @extend %common-text;

        }
      
        .social {
            margin-bottom: 36px;

            @media only screen and (min-width: 1024px) {
                margin-bottom: 0;
            }

            .icons {
                display: flex; 

                div {
                    background-color: $white;
                    border-radius: 50px;
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    margin: auto 15px auto 0;
                    text-align:center;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.9);
                    }

                    a {
                        text-decoration: none;
                        color: $black;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }

        .contact {
            margin-bottom: 36px;

            @media only screen and (min-width: 1024px) {
                margin-bottom: 0;
            }
        }
    }

}