@import '../fontGuide';

footer {
    background-color: $primary-color;
    height: inherit;
    padding: 50px auto;

    .footerDetails {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 40px;


        @media only screen and (min-width: 1024px) {
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
        }

        h1 {
            color: $white;
            font-size: 30px;
            font-weight: 400;
            font-family: $font-stack;
            text-align: left;

            @media only screen and (min-width: 1024px) {
                font-size: 40px;
            }
        }

        p {
            font-family: $font-stack;
            font-size: 18px;
            color: $white;
            text-align: left;
        }

        .social {
            margin-bottom: 36px;

            @media only screen and (min-width: 1024px) {
                margin-bottom: 0;
            }

            .icons {
                display: flex;
                text-align: left;

                div {
                    background-color: $white;
                    border-radius: 50px;
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    margin: auto 15px auto 0;
                    text-align: center;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.9);
                    }

                    a {
                        text-decoration: none;
                        color: $black;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }

        .contact {
            margin-bottom: 36px;

            @media only screen and (min-width: 1024px) {
                margin-bottom: 0;
            }
        }
    }

}